#editor {
    padding: 3px;
    border: 1px solid #ccc;
    max-width: 600px;
    display:inline-block;
}

:root {
    color-scheme: dark;
}

br {
    display:block; 
    margin-top:10px; 
    line-height:22px; 
    content: " ";
 }

.uneditable {
    color: grey;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.verbgeneral {
    color: grey;
    font-weight: bold;
}

.verbpresent {
    color: green;
    font-weight: bold;
}

.verbpast {
    color: red;
    font-weight: bold;
}

.verbperfect {
    color: pink;
    font-weight: bold;
}

.verbfuture {
    color: cyan;
    font-weight: bold;
}